<div class="container123">
  <h1>{{ title }}</h1>
  <div class="container">
    <div class="row">
      <div class="col-sm-3"></div>
      <img src="../assets/Bøstner.jpg" class="col-sm-6">
      <div class="col-sm-3"></div>
    </div>
    <div class="row">
      <div class="col-sm-3"></div>
      <p class="col-sm-6">
        Han har lyst hår, blå øjne, skæg og er rimelig god til programmering.
      </p>
      <div class="col-sm-3"></div>
    </div>
  </div>
</div>


<router-outlet></router-outlet>
