div {
  text-align: center center;
}

.container123 {
  background-color: darkslateblue;
}

img {
  text-align: center center;
}

h1 {
  text-align: center;
  font-weight: bold;
}

p {
  font-size: x-large;
}
